@{
    ViewData["title"] = "وضعیت پرداخت";
}
@if(ViewBag.success)
{
    <div  class="alert-success">پرداخت با موفقیت انجام شد</div>
}

else
{
    <div class="alert-danger">پرداخت با موفقیت انجام نشد</div>
}